.body{
    color: hsl(120, 50%, 40%);
}

/* Sets the font and font size of the entire webpage */
* {
    font-family: 'Courier Prime', monospace;
    font-size: 1.8ch;

}

div p{
    text-decoration: line-through;
    font-size: 2.5ch;
    height: 100px;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 1in;
    padding-right: 1in;
    padding-top: 20px;
    padding-bottom: 20px;
}

[title~="cse"] {
    border-color: blue;
    border-style: solid;
    border-width: 3pt;
    border-radius: 20px;
    margin: 10px 20px 30px 40px;
    padding: 40px 30px 20px 10px;
}

#quotesection > p{
    font-size: 150%
}

img + figcaption{
    position: relative;
    left: 1.8in;
    font-weight: bold;
}

a:hover {
    color:green;
}

a:active,p:active {
    color:red;
}

p span{
    color: blueviolet;
    margin: auto;
}

section ~ p{
    font-size: 150%;
    margin: auto;
}

#quote.favorite{
    color:goldenrod;
    position: absolute;
    top: 630px;
    left: 0.75in;

}

p::first-letter{
    font-size: 200%;
}
