.body{
    color: hsl(120, 50%, 40%);
}

*{
    font-family: 'Courier Prime', monospace;
    font-size: 1.8ch;
}

div {
    text-decoration: line-through;
    font-size: 2.5ch;
}

[title~="cse"] {
    border-color: blue;
    border-style: solid;
    border-width: 3pt;
    border-radius: 20px;
}

#quotesection > p{
    font-size: 150%
}

img + figcaption{
    position: relative;
    left: 1.8in;
    font-weight: bold;
}

a:hover {
    color:green;
}

a:active,p:active {
    color:red;
}

p span{
    color: blueviolet;
}